@model IEnumerable<BRTF_Room_Booking_App.Models.RoomBooking>

@{
    ViewData["Title"] = "Home Page";
}
<!--Font Awesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<br />
<h1 class="text-center">Welcome to Niagara College BRTF</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Top-level Admin"))
{
    <div class="row justify-content-center">
        <a asp-area="" asp-controller="Users" asp-action="Create" role="button" style="color:inherit;" class="flex-column m-4 text-center" tabindex="1">
            <div class="segment">
                <i class="fas fa-users fa-5x" style="color:#2F7DBB;"></i>
                <h2 class="my-3">Register User</h2>
            </div>
        </a>
        <a asp-area="" asp-controller="RoomBookings" asp-action="Create" role="button" style="color:inherit;" class="flex-column m-4 text-center" tabindex="2">
            <div class="segment">
                <i class="fab fa-buromobelexperte fa-5x" style="color:#2F7DBB;"></i>
                <h2 class="my-3">Book a Room</h2>
            </div>
        </a>
        <a asp-area="" asp-controller="RoomBookings" asp-action="Index" role="button" style="color:inherit;" class="flex-column m-4 text-center" tabindex="3">
            <div class="segment">
                <i class="fas fa-clipboard-list fa-5x" style="color:#2F7DBB;"></i>
                <h2 class="my-3">Bookings</h2>
            </div>
        </a>
    </div>
    <div class="row justify-content-center">
        <a asp-area="" asp-controller="Rooms" asp-action="BookingSummary" role="button" style="color:inherit;" class="flex-column m-4 text-center" tabindex="4">
            <div class="segment">
                <i class="fas fa-table fa-5x" style="color:#2F7DBB;"></i>
                <h2 class="my-3">Admin Reports</h2>
            </div>
        </a>
        <a asp-area="" asp-controller="Home" asp-action="Help" role="button" style="color:inherit;" class="flex-column m-4 text-center" tabindex="5">
            <div class="segment">
                <i class="fas fa-info-circle fa-5x" style="color:#2F7DBB;"></i>
                <h2 class="my-3">Help</h2>
            </div>
        </a>
    </div>
}
else
{
    <div class="row justify-content-center">
        <a asp-area="" asp-controller="RoomBookings" asp-action="Create" role="button" style="color:inherit;" class="flex-column m-4 text-center" tabindex="6">
            <div class="segment">
                <i class="fab fa-buromobelexperte fa-5x" style="color:#2F7DBB;"></i>
                <h2 class="my-3">Book a Room</h2>
            </div>
        </a>
        <a asp-area="" asp-controller="RoomBookings" asp-action="Index" role="button" style="color:inherit;" class="flex-column m-4 text-center" tabindex="7">
            <div class="segment">
                <i class="fas fa-clipboard-list fa-5x" style="color:#2F7DBB;"></i>
                <h2 class="my-3">Bookings</h2>
            </div>
        </a>
        <a asp-area="" asp-controller="Home" asp-action="Help" role="button" style="color:inherit;" class="flex-column m-4 text-center" tabindex="8">
            <div class="segment">
                <i class="fas fa-info-circle fa-5x" style="color:#2F7DBB;"></i>
                <h2 class="my-3">Help</h2>
            </div>
        </a>
    </div>
}


<div class="row justify-content-center">
    <div class="container" style="max-width: 1250px;">
        <form asp-action="Index" method="get">
            <section style="background-color: #FFF;display: block; border-radius: 8px; box-shadow: 0 15px 25px rgba(0,0,50,0.2);" class="my-3 mx-auto">
                @if (User.IsInRole("User"))
                {
                    <br />
                    <h4 class="text-center">Your Upcoming Bookings</h4>
                    <br />
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Top-level Admin"))
                {
                    <br />
                    <h4 class="text-center">Bookings Pending Approval</h4>
                    <br />
                }
                <div class="container-fluid d-block d-lg-none">
                    <div class="card-deck-wrapper">
                        <div class="card-deck">
                            @foreach (var item in Model)
                            {
                                <div class="card mb-sm-3" style="min-width: 18rem;">
                                    <h5 class="card-header">
                                        @if ((string)ViewData["24HrFormat"] == "true")
                                        {
                                            @Convert.ToDateTime(item.RoundedStartDate).ToString("dd MMM yyyy - HH:mm")
                                        }
                                        else
                                        {
                                            @Convert.ToDateTime(item.StartDate).ToString("dd MMM yyyy - hh:mm tt", new System.Globalization.CultureInfo("en-US"))
                                        }

                                    </h5>
                                    <div class="card-body">
                                        <div class="media-body ml-2">
                                            <div class="card-text mb-2"><strong>Date:</strong> @Convert.ToDateTime(item.StartDate).ToString("dd MMM yyyy")</div>
                                            <div class="card-text mb-2">
                                                <strong>Time:</strong>
                                                @if ((string)ViewData["24HrFormat"] == "true")
                                                {
                                                    var start = item.RoundedStartDate.ToString("HH:mm");
                                                    var end = item.RoundedEndDate.ToString("HH:mm");
                                                    var times = string.Format("{0} - {1}", start, end);

                                                    @times

                                                }
                                                else
                                                {
                                                    var start = item.RoundedStartDate.ToString("hh:mm tt", new System.Globalization.CultureInfo("en-US"));
                                                    var end = item.RoundedEndDate.ToString("hh:mm tt", new System.Globalization.CultureInfo("en-US"));
                                                    var times = string.Format("{0} - {1}", start, end);

                                                    @times
                                                }
                                                <br />
                                            </div>
                                            <div class="card-text mb-2"><strong>Room:</strong> @Html.DisplayFor(modelItem => item.Room.RoomName)</div>
                                            <div class="card-text mb-2"><strong>User:</strong> @Html.DisplayFor(modelItem => item.User.FullName)</div>
                                            <div class="card-text"><strong>Approval Status:</strong> @Html.DisplayFor(modelItem => item.ApprovalStatus)</div>
                                            <br />
                                        </div>
                                        @if (User.IsInRole("Admin") || User.IsInRole("Top-level Admin"))
                                        {
                                            <div class="card-footer">
                                                <div class="d-flex justify-content-center">
                                                    <a tabindex="10" asp-controller="Home" asp-action="Approve" asp-route-id="@item.ID" role="button" class="btn m-1" style="width: 110px; background: #2F7DBB; color: #E4E6E6; font-weight: 400;">
                                                        <i aria-hidden="true" class="bi bi-check" style="font-size: 1rem;"></i> Approve
                                                    </a>
                                                    <a tabindex="10" asp-controller="Home" asp-action="Deny" asp-route-id="@item.ID" role="button" class="btn m-1" style="width: 110px; background: #2F7DBB; color: #E4E6E6; font-weight: 400; ">
                                                        <i aria-hidden="true" class="bi bi-hand-thumbs-down-fill" style="font-size: 1rem;"></i> Deny
                                                    </a>
                                                </div>
                                                <div class="d-flex justify-content-center">
                                                    <a tabindex="10" asp-controller="RoomBookings" asp-action="Edit" asp-route-id="@item.ID" role="button" class="btn m-1" style="width: 110px; background: #2F7DBB; color: #E4E6E6; font-weight: 400; ">
                                                        <i aria-hidden="true" class="bi bi-pencil-fill" style="font-size: 1rem;"></i> Edit
                                                    </a>
                                                    <a tabindex="10" asp-controller="RoomBookings" asp-action="Delete" asp-route-id="@item.ID" role="button" class="btn m-1" style="width: 110px; background: #dc3546; color: #E4E6E6; font-weight: 400; ">
                                                        <i aria-hidden="true" class="bi bi-x-circle" style="font-size: 1rem;"></i> Delete
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                        @if (User.IsInRole("User"))
                                        {
                                            <div class="card-footer d-flex justify-content-center">
                                                <a asp-action="Edit" asp-route-id="@item.ID" role="button" class="btn mx-1" style="width:75px; background:#2F7DBB; color:#E4E6E6; font-weight:400;" tabindex="11">Edit</a>
                                                <a asp-action="Details" asp-route-id="@item.ID" role="button" class="btn mx-1" style="width:75px; background:#2F7DBB; color:#E4E6E6; font-weight:400;" tabindex="11">Details</a>
                                                <a asp-action="Delete" asp-route-id="@item.ID" role="button" class="btn mx-1" style="width:75px; background:#2F7DBB; color:#E4E6E6; font-weight:400;" tabindex="11">Delete</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <table class="table d-none d-lg-table">
                    <thead>
                        <tr>
                            <th>
                                <button type="submit" class="btn btn-link" disabled style="color:black"><b>Date</b></button>
                            </th>
                            <th>
                                <button type="submit" class="btn btn-link" disabled style="color:black"><b>Time</b></button>
                            </th>
                            <th>
                                <button type="submit" class="btn btn-link" disabled style="color:black"><b>Room</b></button>
                            </th>
                            <th>
                                <button type="submit" class="btn btn-link" disabled style="color:black"><b>User</b></button>
                            </th>
                            <th>
                                <button type="submit" class="btn btn-link" disabled style="color:black"><b>Approval Status</b></button>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Convert.ToDateTime(item.StartDate).ToString("dd MMM yyyy")
                                </td>
                                <td>
                                    @if ((string)ViewData["24HrFormat"] == "true")
                                    {
                                        var start = item.RoundedStartDate.ToString("HH:mm");
                                        var end = item.RoundedEndDate.ToString("HH:mm");
                                        var times = string.Format("{0} - {1}", start, end);

                                        @times

                                    }
                                    else
                                    {
                                        var start = item.RoundedStartDate.ToString("hh:mm tt", new System.Globalization.CultureInfo("en-US"));
                                        var end = item.RoundedEndDate.ToString("hh:mm tt", new System.Globalization.CultureInfo("en-US"));
                                        var times = string.Format("{0} - {1}", start, end);

                                        @times
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Room.RoomName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApprovalStatus)
                                </td>
                                <td @*style="width: 400px"*@>
                                    @if (User.IsInRole("Admin") || User.IsInRole("Top-level Admin"))
                                    {
                                        <div class="row text-center justify-content-center">
                                            <a tabindex="10" asp-controller="Home" asp-action="Approve" asp-route-id="@item.ID" role="button" class="btn m-1" style="width: 110px; background: #2F7DBB; color: #E4E6E6; font-weight: 400;">
                                                <i aria-hidden="true" class="bi bi-check" style="font-size: 1rem;"></i> Approve
                                            </a>
                                            <a tabindex="10" asp-controller="Home" asp-action="Deny" asp-route-id="@item.ID" role="button" class="btn m-1" style="width: 110px; background: #2F7DBB; color: #E4E6E6; font-weight: 400; ">
                                                <i aria-hidden="true" class="bi bi-hand-thumbs-down-fill" style="font-size: 1rem;"></i> Deny
                                            </a>
                                            <a tabindex="10" asp-controller="RoomBookings" asp-action="Edit" asp-route-id="@item.ID" role="button" class="btn m-1" style="width: 110px; background: #2F7DBB; color: #E4E6E6; font-weight: 400; ">
                                                <i aria-hidden="true" class="bi bi-pencil-fill" style="font-size: 1rem;"></i> Edit
                                            </a>
                                            <a tabindex="10" asp-controller="RoomBookings" asp-action="Delete" asp-route-id="@item.ID" role="button" class="btn m-1" style="width: 110px; background: #dc3546; color: #E4E6E6; font-weight: 400; ">
                                                <i aria-hidden="true" class="bi bi-x-circle" style="font-size: 1rem;"></i> Delete
                                            </a>
                                        </div>
                                    }
                                    @if (User.IsInRole("User"))
                                    {
                                        <a asp-controller="RoomBookings" asp-action="Edit" asp-route-id="@item.ID" role="button" class="btn mx-2" style="width:75px; background:#2F7DBB; color:#E4E6E6; font-weight:400;" tabindex="11">Edit</a>
                                        <a asp-controller="RoomBookings" asp-action="Details" asp-route-id="@item.ID" role="button" class="btn mx-2" style="width:75px; background:#2F7DBB; color:#E4E6E6; font-weight:400;" tabindex="11">Details</a>
                                        <a asp-controller="RoomBookings" asp-action="Delete" asp-route-id="@item.ID" role="button" class="btn mx-2" style="width:75px; background:#2F7DBB; color:#E4E6E6; font-weight:400;" tabindex="11">Delete</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </section>
        </form>
    </div>
</div>
